body{
    background-color: #E5FDA4;
}
.home{
    color: #f7cc08;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
    margin-top: 100px;
}
h2{
    color: #527530;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
}
header{
    color: #8DB762;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.Uicon{
    width: 10%;
}
.star{
    width: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mapcontainer{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-image: url(IMG/Map.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24,1fr);
}
.star1{
    width: 100%;
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 10;
    grid-row-end: 11;
}
.star2{
    width: 100%;
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 7;
}
.star3{
    width: 100%;
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 6;
}
.star4{
    width: 100%;
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 13;
    grid-row-end: 14;
}
.star5{
    width: 100%;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
}
.star6{
    width: 100%;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 12;
}

